build-check/
safe/target/
/*.deb
/*.ddeb
/*.buildinfo
/*.changes
safe/debian/.debhelper/
safe/debian/debhelper-build-stamp
safe/debian/files
safe/debian/*.substvars
safe/debian/*.debhelper.log
safe/debian/libjpeg-turbo-progs/
safe/debian/libjpeg-turbo8/
safe/debian/libjpeg-turbo8-dev/
safe/debian/libturbojpeg/
safe/debian/libturbojpeg-java/
safe/debian/libturbojpeg0-dev/
safe/debian/tmp/
safe/stage/usr/share/java/
